<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161261244857-v9q03v4l3412sapj2nt2oacfpp989r02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161261244857-v9q03v4l3412sapj2nt2oacfpp989r02</string>
	<key>API_KEY</key>
	<string>AIzaSyCz5peN1xCodvfZWCkOvdiQyz9y_L829Ls</string>
	<key>GCM_SENDER_ID</key>
	<string>161261244857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.myfoodscan</string>
	<key>PROJECT_ID</key>
	<string>myfoodscan-backend-99cb3</string>
	<key>STORAGE_BUCKET</key>
	<string>myfoodscan-backend-99cb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161261244857:ios:c473d2c875deeb41c0a668</string>
</dict>
</plist>